<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       <script src="/static/bootstrap/js/jquery-3.2.1.js"></script>
       <script src="/static/bootstrap/js/bootstrap.min.js"></script>

       <meta charset="UTF-8">
       <title>Hit Coin List</title>
   </head>
   <body>
       {#    顶部导航#}
       {% include "header.html" %}
       {#    顶部导航 over#}

       {% if "Error" in context %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span>&times;</span>
                </button>
                There is something wrong with the map!
            </div>
       {% else %}
           <div id="container" style="height: 600px"></div>
       {% endif %}
       <script src="/static/echarts/echarts.min.js"></script>
       <script src="/static/echarts/echarts-gl.min.js"></script>
       <script src="/static/echarts/ecStat.min.js"></script>
       <script src="/static/echarts/dataTool.min.js"></script>
       <script src="/static/echarts/china.js"></script>
       <script src="/static/echarts/world.js"></script>
       <script src="https://api.map.baidu.com/api?v=2.0&ak=2BU5ijs7Cj5vckd42EiUvRODSGtGWfBe"></script>
       <script src="/static/echarts/bmap.min.js"></script>
       <script src="/static/echarts/simplex.js"></script>
       <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            var data = [];
            var realData = [];
            var geoCoordMap = {};

            var longitudes = {{ longitudes }};
            var latitudes = {{ latitudes }};
            var hours = {{ hours }};
            var realHours = {{ realHours }};

            for (var i=0; i < longitudes.length; i++) {
                data.push({name: i+1, value: hours[i]});
                realData.push({name: i+1, value: realHours[i]});
                geoCoordMap[i+1] = [longitudes[i], latitudes[i]];
            }

            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
{#                            name: data[i].name,#}
                            name: "",
                            value: geoCoord.concat(data[i].value + 20)
                        });
                    }
                }
                return res;
            };

            function renderItem(params, api) {
                var color = api.visual('color');

                return {
                    type: 'polygon',
                    style: api.style({
                        fill: color,
                        stroke: echarts.color.lift(color)
                    })
                };
            }

            option = {
                // backgroundColor: '#404a59',
                title: {
                    text: 'Location of Hitchain nodes',
            {#        subtext: 'data from PM25.in',#}
{#                    sublink: 'http://www.pm25.in',#}
                    left: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                tooltip : {
                    trigger: 'item'
                },
                bmap: {
                    center: [104.114129, 37.550339],
                    zoom: 1,
                    roam: true,
                    mapStyle: {
                        styleJson: [
                                {
                                    "featureType": "water",
                                    "elementType": "all",
                                    "stylers": {
                                        "color": "#044161"
                                    }
                                },
                                {
                                    "featureType": "land",
                                    "elementType": "all",
                                    "stylers": {
                                        "color": "#004981"
                                    }
                                },
                                {
                                    "featureType": "boundary",
                                    "elementType": "geometry",
                                    "stylers": {
                                        "color": "#064f85",
                                        "visibility": "off" // do not show land boundary
                                    }
                                },
                                {
                                    "featureType": "railway",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "highway",
                                    "elementType": "geometry",
                                    "stylers": {
                                        "color": "#004981"
                                    }
                                },
                                {
                                    "featureType": "highway",
                                    "elementType": "geometry.fill",
                                    "stylers": {
                                        "color": "#005b96",
                                        "lightness": 1
                                    }
                                },
                                {
                                    "featureType": "highway",
                                    "elementType": "labels",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "arterial",
                                    "elementType": "geometry",
                                    "stylers": {
                                        "color": "#004981"
                                    }
                                },
                                {
                                    "featureType": "arterial",
                                    "elementType": "geometry.fill",
                                    "stylers": {
                                        "color": "#00508b"
                                    }
                                },
                                {
                                    "featureType": "poi",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "green",
                                    "elementType": "all",
                                    "stylers": {
                                        "color": "#056197",
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "subway",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "manmade",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "local",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "arterial",
                                    "elementType": "labels",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                },
                                {
                                    "featureType": "boundary",
                                    "elementType": "geometry.fill",
                                    "stylers": {
                                        "color": "#029fd4"
                                    }
                                },
                                {
                                    "featureType": "building",
                                    "elementType": "all",
                                    "stylers": {
                                        "color": "#1a5787"
                                    }
                                },
                                {
                                    "featureType": "label",
                                    "elementType": "all",
                                    "stylers": {
                                        "visibility": "off"
                                    }
                                }
                        ]
                    }
                },
                series : [
                    {
                        name: 'online',
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        data: convertData(realData),
                        symbolSize: function (val) {
                            return val[2] / 5;
                        },
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#ddb926'
                            }
                        }
                    },
                    {
                        type: 'custom',
                        coordinateSystem: 'bmap',
                        renderItem: renderItem,
                        itemStyle: {
                            normal: {
                                opacity: 0.5
                            }
                        },
                        animation: false,
                        silent: true,
                        data: [0],
                        z: -10
                    }
                ]
            };;
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }
       </script>

       {% include "footer.html" %}
   </body>
</html>